{% extends 'base.html.twig' %}

{% block title 'Mon Agence Immobilière' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1> Mon Agence Immobilière</h1>
            <p>Bienvenue dans L'agence Immobilière qui répond à vos besoins</p>
    </div>
{% endblock %}